@import "tailwindcss";

@theme {
  @keyframes loading-bar {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
  }
  --animate-loading-bar: loading-bar 2s infinite ease-in-out;
}

body {
  background-color: #020617;
  color: white;
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}